*{
    font-family: verdana;
    margin: 0;
}

body{
    background:grey;

}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: lavender;
   
}

.box{
    height: 100px;
    min-width: 100px;
    
    
}

.one{
    background:hotpink;
    flex-grow: 2;

}

.two{
    background:pink; 
    flex-grow: 3;
}

.three{
    background:rgb(133, 36, 81);
    flex-grow: 1;
}