*{
    font-family: verdana;
    margin: 0;
}

body{
    background:grey;

}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: lavender;
   
}


.box{
    height: 100px;
    min-width: 100px;
    float: lef;
  
}

.one{
    background:hotpink;

}

.two{
    background:pink; 
}

.three{
    background:plum;
}